SE3Transformer/results/COMP6v1/ANI-MD/ani_md_bench.h5
SE3Transformer/results/COMP6v1/GDB07to09/gdb11_07_test500.h5
SE3Transformer/results/COMP6v1/GDB07to09/gdb11_08_test500.h5
SE3Transformer/results/COMP6v1/GDB07to09/gdb11_09_test500.h5
SE3Transformer/results/COMP6v1/GDB10to13/gdb11_10_test500.h5
SE3Transformer/results/COMP6v1/GDB10to13/gdb11_11_test500.h5
SE3Transformer/results/COMP6v1/GDB10to13/gdb13_12_test1000.h5
SE3Transformer/results/ani1xrelease.h5
SE3Transformer/results/COMP6v1/GDB10to13/gdb13_13_test1000.h5
SE3Transformer/results/COMP6v1/s66x8/s66x8_wb97x6-31gd.h5
results/